$maxSize: 1066px;
$minSize: 992px;

@media screen and (min-width: $minSize) and (max-width: $maxSize){
    .dropdown-menu{
        .dropdown-item{
            font-size: 14px;
        }
    }
    .nav-link{
        font-size: 14px;
    }
    .dropdown-item{
        font-size: 14px;
    }
    
        ul{
            .mr-5{
                margin-right: 1rem!important;
            }
        }
    
    
}